<div class="container" >
  <h1 style="color: rgb(17, 16, 16); text-align: center;"><b>{{ title }}</b></h1>
  <div style="position: relative;">
      @if(isLoading) {
        <app-loading></app-loading>
      }
    <form
       class="example-form"
       (ngSubmit)="handleSubmit(profileForm.value)"
       [formGroup]="profileForm"
     >
       <mat-form-field class="example-full-width">
         <mat-label>Name</mat-label>
         <input
           type="text"
           matInput
           formControlName="name"
           [errorStateMatcher]="matcher"
           placeholder="Ex. John "
         />
         @if (!profileForm.get('name')?.valid &&
         !profileForm.get('name')?.hasError('required')) {
         <mat-error>Please enter a valid Name</mat-error>
         } @if (profileForm.get('name')?.hasError('required')) {
         <mat-error>Name is <strong>required</strong></mat-error>
         }
       </mat-form-field>
   
       <mat-form-field class="example-full-width">
         <mat-label>Email</mat-label>
         <input
           type="email"
           matInput
           formControlName="email"
           [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com"
         />
         @if (!profileForm.get('email')?.valid &&
         !profileForm.get('email')?.hasError('required')) {
         <mat-error>Please enter a valid Email</mat-error>
         } @if (profileForm.get('email')?.hasError('required')) {
         <mat-error>Email is <strong>required</strong></mat-error>
         }
       </mat-form-field>
   
       <mat-form-field class="example-full-width">
         <mat-label>Phone No</mat-label>
         <input
           type="tel"
           matInput
           formControlName="phoneNo"
           [errorStateMatcher]="matcher"
           placeholder="Ex. 9921364821"
         />
         @if (!profileForm.get('phoneNo')?.valid &&
         !profileForm.get('phoneNo')?.hasError('required')) {
         <mat-error>Please enter a valid Phone No</mat-error>
         } @if (profileForm.get('phoneNo')?.hasError('required')) {
         <mat-error>PhoneNo is <strong>required</strong></mat-error>
         }
       </mat-form-field>

       <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="passwordType?'text':'password'"
          (click)="$event.stopPropagation()"
          #passwordInput
          formControlName="password"
          [errorStateMatcher]="matcher"
          placeholder="Ex. Pass@123"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePassword()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordType"
        >
          <mat-icon>{{
            passwordType ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
        @if (!profileForm.get('password')?.valid &&
        !profileForm.get('password')?.hasError('required')) {
        <mat-error>Please enter a valid Password</mat-error>
        } @if (profileForm.get('password')?.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
       <!-- <button [disabled]="profileForm.invalid" mat-raised-button>Submit</button> -->
       <div class="col-12" style="display: flex;">
        <div class="col-6" style=" text-align: left ;">
          @if(profileForm.invalid){
            <button [disabled]="profileForm.invalid" mat-raised-button style="color: rgb(228, 220, 220);">Submit</button>
          }@else {
            <button mat-raised-button style="color: rgb(17, 17, 17);">Submit</button>
          }
        </div>
        <div class="col-6" style="text-align:right;">
          <a [routerLink]="['/']" mat-raised-button>Login</a>
        </div>
      </div>
     </form>
   </div> 

</div>
